body {
    font-family: "Helvetica Neue";
}
h1 {
    text-align: center;
}
p {
    text-align: left;
}
#menu{
    position:fixed;
    z-index: 70;
}
#menu li {
    display:inline-block;
    margin:15px;
    color: #000;
    position: relative;
    border-radius: 10px;
}
#menu li a {
    text-decoration:none;
    color: #000;
}
#menu li.currentPage {
    border:0;background:#333;
    transition-timing-function: ease;
}
#menu li.currentPage a {
    color: #fffff0;
}
#homePageLogo {
    height: 25px;
    width: 25px;
}

.pastEventPhoto{
    border:10px solid white;
    border-radius: 3px;
}